<!doctype html>
<html>
  <head>
    <title>MovieBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-3 pt-1">
            <a href="/profile" class="btn btn-secondary btn-sm">Profile</a>
          </div>
          <div class="col-3 pt-1">
            <a href="/post" class="btn btn-secondary btn-sm">Post</a>
          </div>
          <div class="col-3 text-center">
            <h1 class="blog-header-logo text-dark">Forum</h1>
          </div>
          <div class="col-3 d-flex justify-content-end align-items-center">
            <a href="/logout" class="btn btn-secondary btn-sm">Log Out</a>
          </div>
        </div>
      </header>
      <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
        <h2  class="communityTitle">MovieBD Forum</h2>
        <% for(var i=0; i<messages.length; i++) {%>
        <section class="messages">
        <p><%= messages[i].name %></p>
        <p><%= messages[i].title %></p>
        <p><%= messages[i].date %></p>
        <p><%= messages[i].msg %></p>
        <img class="imgPost" src=<%= "" + messages[i].src %> >
        <p><%= messages[i].trash %></p>
        <span data-id="<%= messages[i]._id %>"><i class="fa fa-trash trash" aria-hidden="true"></i></span>
        </section>
        <% } %>
        </div>
      </div>
    </div>
  <script src="main.js"></script>
  </body>
</html>
